
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
                      | Initial total                                                   |  11.01 MB

Lazy chunk files      | Names                                                           |  Raw size
897.js                | po-ui-ng-components-po-chart-modal-table-component-mSWyBcer-mjs |   3.87 kB | 

Build at: 2025-08-03T21:28:04.912Z - Hash: 51b783eeda0799d5 - Time: 6246ms

** Angular 
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
